<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.with_walk.mapper.MemberMapper">

    <insert id="registerUser" parameterType="com.example.with_walk.dto.MemberDTO">
        insert into
            members (m_id, m_password, m_name, m_nickname, m_email, m_profile_image)
        values
            (#{mId}, #{mPassword}, #{mName}, #{mNickname}, #{mEmail}, #{mProfileImage})
    </insert>

    <select id="getUser" parameterType="map" resultType="com.example.with_walk.dto.MemberDTO">
        select * from members where m_id = #{mId} and m_password = #{mPassword}
    </select>

    <select id="getUserData" parameterType="map" resultType="com.example.with_walk.dto.MemberDTO">
        select * from members where m_id = #{mId}
    </select>

    <select id="checkNick" parameterType="map" resultType="com.example.with_walk.dto.MemberDTO">
        select * from members where m_nickname = #{mNickname}
    </select>

    <select id="searchNick" parameterType="map" resultType="com.example.with_walk.dto.MemberDTO">
        SELECT m_nickname FROM members WHERE m_nickname LIKE CONCAT('%', #{mNickname}, '%')
    </select>

    <update id="updateUser" parameterType="com.example.with_walk.dto.MemberDTO">
        update
            members
        set
            m_password = #{mPassword},
            m_nickname = #{mNickname},
            m_name = #{mName},
            m_email = #{mEmail},
            m_profile_image = #{mProfileImage}
        where
            m_id = #{mId}
    </update>

    <delete id="deleteUser" parameterType="map">
        delete from members where m_id = #{mId}
    </delete>

    <update id="updateProfile" parameterType="com.example.with_walk.dto.MemberDTO">
        update
            members
        set
            m_profile_image = #{mProfileImage}
        where
            m_id = #{mId}
    </update>

    <select id="getAllMembers" resultType="com.example.with_walk.dto.MemberDTO">
    SELECT
        *
    FROM
        members
    WHERE
        m_role != 'ADMIN'
    ORDER BY
        m_create DESC
</select>

</mapper>
